:root {
  --green-main: #54e6af;
  --dark-gray: #2c344b;
  --almost-black: #121725;
  --light-gray: #5a668a;
  --lighter-gray: #c2cbe5;
}

* {
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-family: 'Chivo', sans-serif;
}

.contents-wrapper {
  display: flex;
  flex-direction: column;
  padding: 130px 0 130px 164px;
  background-color: var(--almost-black);
  min-height: 100vh;
  height: 100%;
}

.header__contents {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 102px;
  justify-content: space-between;
  flex-grow: 1;
}

.header__logo {
  transform: translateY(-50%);
}

.image-wrapper {
  position: absolute;
  width: 70%;
  right: 0;
  top: 0;
  bottom: 0;
}

.header__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.header__access-wrapper {
  width: 60%;
  max-width: 860px;
  padding-top: 88px;
  padding-right: 58px;
  background-color: var(--almost-black);
  z-index: 2;
}

.access__title {
  color: var(--green-main);
  font-size: 52px;
  line-height: 62px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.access__title span {
  color: white;
}

.access__text {
  color: var(--lighter-gray);
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 40px;
  width: 62%;
}

.access__input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 60%;
  margin-bottom: 64px;
}

.access__email {
  display: flex;
  flex-grow: 1;
  border-radius: 28px;
  height: 56px;
  background-color: var(--dark-gray);
  border: none;
  margin-left: 0;
  padding-left: 32px;
}

.access__email:focus {
  outline: none;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}

.access__email::placeholder {
  color: rgb(255 255 255/ 50%);
  font-size: 14px;
  line-height: 28px;
}

.access__button {
  position: absolute;
  border-style: none;
  right: 5px;
  padding: 9px 27px;
  border-radius: 28px;
  color: var(--almost-black);
  font-size: 14px;
  line-height: 28px;
  cursor: pointer;
  background-color: var(--green-main);
  transition: background-color 0.2s ease;
}

.access__button:hover {
  background-color: #b3ffe2;
  box-shadow: 0 25px 20px -20px rgb(84 230 175/ 50%);
}

.access__icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}

.header__dots {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(50%);
}

@media (max-width: 1339px) {
  .contents-wrapper {
    padding: 0 0 256px 38px;
  }

  .header__logo {
    transform: none;
    margin-top: 50px;
  }

  .image-wrapper {
    width: 64%;
  }

  .header__access-wrapper {
    width: 88%;
    padding-top: 92px;
    padding-right: 0;
  }

  .access__title {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 31px;
  }

  .header__dots {
    bottom: -256px;
    left: 0;
    transform: none;
  }
}

@media (max-width: 767px) {
  /* not visible on mobile start */
  .image-wrapper {
    display: none;
  }

  .header__dots {
    display: none;
  }
  /* not visible on mobile end */

  .contents-wrapper {
    padding: 62px 24px 94px;
    background-image: url("images/mobile-bitmap.png");
    background-size: cover;
  }

  .header__contents {
    align-items: center;
    gap: 58px;
    justify-content: flex-start;
  }

  .header__logo {
    margin-top: 0;
  }

  .header__access-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    width: 100%;
    text-align: center;
    padding-top: 0;
    flex-grow: 1;
  }

  .access__title {
  font-size: 26px;
  line-height: 38px;
  }

  .access__text {
    width: 100%;
    margin-bottom: 33px;
    font-size: 15px;
    line-height: 25px;
  }

  .mobile-flipper {
  display: flex;
  flex-direction: column-reverse;
  gap: 48px;
  align-items: center;
  }

  .access__input-wrapper {
    width: 100%;
    flex-direction: column;
    gap: 16px;
    /* flex-grow: 1; */
  }

  .access__email {
    width: 100%;
    height: 46px;
  }

  .access__button {
    position: static;
    width: 100%;
    height: 46px;
  }

  .mobile-icon-wrapper {
    height: 17px;
    width: auto;
    display: flex;
    align-items: center;
  }

  .mobile-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
